@import "./config-scss/variables.scss";
@import "./config-scss/reset.scss";
@import "./config-scss/rem-calc.scss";
@import "./config-scss/btn.scss";
@import "./config-scss/animation.scss";

@font-face {
  font-family: "roboto";
  font-weight: 900;
  src: url(./assets/fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: "roboto";
  font-weight: 400;
  src: url(./assets/fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: "roboto";
  font-weight: 100;
  src: url(./assets/fonts/Roboto-Light.ttf);
}

html {
  font-family: "roboto", sans-serif;
  background-color: var(--primary-color);
}

main {
  max-width: 700px;
  margin: 0 auto;
  box-sizing: border-box;
}

